.worksWrapper {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.worksContent {
  max-width: 100%;
  width: var(--default-content-width);
}

.worksTitle {
  color: var(--basic-blue);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.workEducation {
  background-color: #154379;
}

:global(#works) {
  scroll-margin-top: calc(var(--header-height) + 20px);
}
