.skillsWrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.skillsContent {
  max-width: 100%;
  width: var(--default-content-width);
}

.skillsTitle {
  color: var(--basic-blue);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.skillsDescriptionWrapper {
  margin-bottom: 32px;
}

.skillsIconsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skillsIconWithTextEntity {
  margin: 0 32px 48px;
}

.skillsIcon {
  width: 72px;
  height: 72px;
}

:global(#skills) {
  scroll-margin-top: calc(var(--header-height) + 20px);
}

@media (max-width: 880px) {
  .skillsIconWithTextEntity {
    margin: 0 0 32px;
    width: 33%;
    overflow: hidden;
  }

  .skillsIcon {
    width: 48px;
    height: 48px;
  }
}
