.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

.footerContent {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.footerButton {
  text-transform: none;
  font-weight: bold;
}

.footerEndline {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
}
