@layer components {
  .toggleMenuWrapper {
    display: none;
    position: relative;
    width: 35px;
    height: 28px;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    color: var(--second-white);
  }

  .rootLine {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    transition: 0.5s;
    border-radius: 100px;
    background: currentColor;
  }

  .open {
  }

  .firstLine {
    top: 0;
  }

  .secondLine {
    top: calc(50% - 2px);
  }

  .thirdLine {
    bottom: 0;
  }

  .toggleMenuWrapper.open .firstLine {
    rotate: 45deg;
  }

  .toggleMenuWrapper.open .secondLine {
    opacity: 0;
  }

  .toggleMenuWrapper.open .thirdLine {
    rotate: -45deg;
  }

  .toggleMenuWrapper.open .rootLine {
    top: calc(50% - 2px);
    background: linear-gradient(
      90deg,
      var(--basic-blue),
      var(--second-blue)
    );
  }

  @media (max-width: 880px) {
    .toggleMenuWrapper {
      display: flex;
    }
  }
}
