.menuWrapper {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: calc(100dvh - var(--header-height));
  background: var(--content-third-color);
  transform: translate(100%);
  transition: transform 0.25s;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
  flex-direction: column;
}

.menuWrapperOpen {
  transform: translate(0%);
}

@media (max-width: 880px) {
  .menuWrapper {
    display: flex;
  }
}
