.navsContainer {
  display: flex;
}

.navsItemRoot {
  margin-left: 15px;
  transition: color 0.5s;
}

.navsItemDefault {
  color: var(--second-white);
}

.navsItemDefault:hover {
  color: var(--second-white);
}

.navsItemWithHighlightedHeader {
  color: var(--basic-dark);
}

@media (max-width: 880px) {
  .navsContainer {
    display: none;
  }
}
