.aboutWrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.aboutContent {
  max-width: 100%;
  width: 1120px;
}

.aboutTitle {
  color: var(--content-root-color);
}

:global(#about) {
  scroll-margin-top: calc(var(--header-height) + 20px);
}
