.defaultText {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  font-family: var(--root-font), monospace;
  color: var(--secondary-color);
}

.largeText {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-family: var(--root-font), monospace;
  color: var(--secondary-color);
}

.defaultTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  font-family: var(--title-font), monospace;
}

.largeTitle {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  font-family: var(--title-font), monospace;
}

.largestTitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
  font-family: var(--title-font), monospace;
}

.contentWrap {
  padding: 0 60px;
}

@media (max-width: 880px) {
  .contentWrap {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  .contentWrap {
    padding: 0 20px;
  }
}
