.headerWrapper {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 1001;
  top: 0;
  left: 0;
}

.open {
}

.headerContainer {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerMask {
  background: var(--content-third-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.25s;
  z-index: -1;
}

.headerMaskBoxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
}

.open .headerMask {
  display: block;
  width: 100%;
}
