.logotypeWrap {
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.defaultLogotype {
  fill: var(--second-white);
}

.logotypeWithHighlightedHeader {
  fill: var(--secondary-color);
}

.logotypeRootImg {
  width: 100%;
  height: 100%;
  transition: fill 0.5s;
}
