:root {
  --root-font: "Roboto Mono", monospace;
  --title-font: "Exo 2", sans-serif;
  --header-height: 80px;
  --content-root-color: #0076fe;
  --content-second-color: #144b9d;
  --content-third-color: #ffffff;
  --content-text-color: #212529;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 340px;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: var(--root-font), monospace;
  text-decoration: none;
}
