:root {
  --root-font: "Roboto Mono", monospace;
  --title-font: "Exo 2", sans-serif;
  --header-height: 80px;
  --basic-blue: #0076fe;
  --second-blue: #144b9d;
  --basic-white: #ffffff;
  --second-white: #f0f4f8;
  --basic-dark: #212529;
  --default-content-width: 1120px;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 340px;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-family: var(--root-font), monospace;
}

a:hover {
  text-decoration: none;
}
