@layer base, components, utils;
/* base - basic themes */
/* components - component modules */
/* utils - custom classes-redefinitions */

:root {
  --root-font: "Roboto Mono", monospace;
  --title-font: "Exo 2", sans-serif;
  --header-height: 80px;
  --basic-blue: #0076fe;
  --second-blue: #144b9d;
  --basic-white: #ffffff;
  --second-white: #f0f4f8;
  --dark: #212529;
  --content-width: 1120px;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 340px;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--root-font), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: var(--dark);
}

a:hover {
  text-decoration: none;
}
